body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: url(images/bg.png);
    background-position: top;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

h2 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}

a {
    color: #108732;
}

.subtitle {
    font-family: 'Noto Serif', serif;
}

div.header {
    text-align: center;
    margin: 56px auto 36px auto;
    padding: 0 16px;
}

div.header img {
    width: 260px;
}

div.articles {
    background: white;
    padding: 36px 16px;
}

div.articles article:not(:last-child) {
    margin-bottom: 24px;
}

div.articles article img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
}

article a {
    text-decoration: none;
}

footer {
    text-align: center;
    margin: 36px auto 56px auto;
    padding: 0px 16px;
}

footer div.social a.social:not(:last-child) {
    margin-right: .5rem;
}

footer a.social {
    color: black;
    font-size: 18px;
}

@media(min-width:580px) {
    div.header {
        width: 460px;
    }

    div.articles {
        width: 460px;
        border-radius: 28px;
        margin: 0 auto;
        padding: 36px;
    }
}